@import 'social-buttons.css';

* {
  box-sizing: border-box;
  margin: 0;
}

*,
body {
  font-family: 'Comfortaa', sans-serif;
  color: var(--main-text-color);
  line-height: 1.4rem;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  margin-left: 0;
  padding-left: 0;
}

/*----Variaables----*/

:root {
  --main-padding: 60px;
  --main-padding-mobile: 5px;
  --main-text-color: #3d3d3d;
  --desktop-width: 1289px;
}

/*----HEADER----*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--main-padding);
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #f6f2e6;
}

header .logo {
  height: 60px;
  width: 60px;
}
header nav {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 15px;
}

nav .menu {
  display: flex;
  gap: 15px;
}

nav .mob-menu {
  display: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  position: relative;
}

header nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--main-text-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

header nav ul li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

@media (max-width: 820px) {
  header {
    padding: 5px var(--main-padding-mobile);
  }

  header nav {
    justify-content: end;
  }

  nav .mob-menu {
    display: block;
    height: 60px;
    border: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    overflow: visible;
    background: transparent;
  }

  nav .mob-menu img {
    height: 60px;
    width: 60px;
  }

  nav .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 0px;
    top: 70px;
    left: 10%;
    width: 80%;
    height: fit-content;
    background-color: #f6f2e6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  nav .menu li {
    width: 100%;
    text-align: center;
    border-top: 1px solid;
    padding: 20px;
  }
}

@media (max-width: 375px) {
  nav .mob-menu img {
    height: 45px;
    width: 45px;
  }

  header .logo {
    height: 45px;
    width: 45px;
  }

  nav .mob-menu {
    height: 100%;
    align-items: center;
    display: flex;
  }
}

/*----Main----*/
main {
  margin-top: 100px;
}

main .content {
  max-width: var(--desktop-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-basis: end;
  align-items: end;
  padding: 80px 0 80px;
  position: relative;
  width: 100%;
}

main .home .content {
  min-height: 600px;
}

main section.parallax {
  background-image: url('../images/main.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main section h1 {
  font-size: 42px;
  line-height: 3rem;
  text-align: end;
}

main section .buy-token {
  width: fit-content;
  border-radius: 30px;
  border: none;
  padding: 10px 40px;
  font-size: 42px;
  background-color: #e4c9b4;
  margin-top: 80px;
  line-height: 3rem;
  text-decoration: none;
}
main section .buy-token:hover {
  cursor: pointer;
  transform: scaleX(1.1);
  transition: all 0.3s ease-in-out;
}

main section .nala-main {
  height: 500px;
  position: absolute;
  bottom: -30px;
  left: 2%;
}

@media (max-width: 1300px) {
  main .content {
    padding: 80px 20px;
  }
}

@media (max-width: 820px) {
  main {
    margin-top: 70px;
  }

  main .content {
    padding: 50px 0;
  }

  main .home .content {
    align-items: center;
  }

  main section .nala-main {
    height: 250px;
  }

  main section.parallax {
    background-attachment: scroll;
  }

  main section h1 {
    font-size: 32px;
    line-height: 2.5rem;
    text-align: center;
  }

  main .home .buy-token {
    font-size: 32px;
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  main {
    margin-top: 62px;
  }
}
/*----About Section----*/
main .about {
  background: linear-gradient(#a8d5ba, #f7e7da);
}

main .about .content {
  flex-basis: end;
  align-items: center;
}

.section-title {
  font-size: 32px;
  padding-bottom: 50px;
}

.about .about-text {
  font-size: 18px;
  text-align: center;
}

.lang-goals-title {
  font-size: 24px;
  padding: 30px 0px 20px;
}

.goals {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.goals .item {
  border-radius: 10px;
  padding: 20px 15px;
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.goals .item:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px; /* control the border thickness */
  background: linear-gradient(to left, #743ad5, #d53a9d);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

@media (max-width: 820px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 30px;
  }

  .goals {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .goals .item {
    max-width: 80%;
  }

  .about .about-text {
    padding: 0 10px;
  }
}

/* -------Tokenomics------*/
main section.tokenomics.parallax {
  background-image: url('../images/background-section-2.webp');
}

main .tokenomics .content {
  align-items: center;
}

.tokenomics .content .items-wrapp {
  display: flex;
  justify-content: space-between;
}

.tokenomics .items-wrapp .tokenomics-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  background-color: rgba(148, 199, 165, 0.8);
  padding: 20px;
  border-radius: 20px;
}

.tokenomics .tokenomics-item-img {
  width: 100px;
}
.tokenomics .items-wrapp .tokenomics-item .text-wrapper .item-title {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}

.tokenomics .items-wrapp .tokenomics-item .item-percent {
  font-size: 64px;
  background: linear-gradient(42.25deg, #f59e0b 11.39%, #3f2a05 82.45%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  line-height: 6rem;
  text-align: center;
}

.tokenomics .items-wrapp .tokenomics-item:nth-child(2) .item-percent {
  background: linear-gradient(42.25deg, #5d8610, #a5ad29 82.45%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tokenomics .items-wrapp .tokenomics-item:nth-child(3) .item-percent {
  background: linear-gradient(42.25deg, #8dd43a, #035a0f 82.45%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 820px) {
  .tokenomics .section-title {
    text-align: center;
    line-height: 2.2rem;
  }
  .tokenomics .content .items-wrapp {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .tokenomics .items-wrapp .tokenomics-item {
    width: 80%;
  }
}

/* -------Road map------*/
.road-map {
  background: linear-gradient(#a8d5ba, #f7e7da);
  overflow: hidden;
}

.road-map .content {
  align-items: center;
}

.roadmap-container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.roadmap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.stage {
  position: relative;
  width: 18%;
  margin: 30px 1%;
  text-align: center;
}

.circle {
  width: 20px;
  height: 20px;
  background: linear-gradient(to left, #743ad5, #d53a9d) #e4c9b4;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.road-map .date {
  position: absolute;
  top: -25px;
  left: 21%;
}

.line {
  position: absolute;
  height: 4px;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  width: 40%;
  top: 8px;
  z-index: 1;
}

.vertical-line {
  position: absolute;
  height: 4px;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  width: 60%;
  top: 143px;
  z-index: 1;
  right: -120px;
  transform: rotate(90deg);
}

.vertical-line-2 {
  position: absolute;
  height: 4px;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  width: 80%;
  top: 165px;
  z-index: 1;
  right: 174px;
  transform: rotate(90deg);
}

.line-1 {
  left: 0px;
}

.line-2 {
  right: 0px;
}

.svg-container {
  position: absolute;
  width: 100px;
  height: 50px;
  z-index: 1;
}

.curve-right {
  left: 100%;
}

.curve-right-1st {
  transform: rotate(47deg);
  top: 4px;
}

.curve-right-2nd {
  transform: rotate(131deg);
  top: -36px;
}

.curve-left-1st {
  transform: rotate(-47deg);
  top: 4px;
}

.curve-left-2nd {
  transform: rotate(-131deg);
  top: -36px;
}

.curve-left {
  right: 100%;
}

.stage-text {
  font-size: 14px;
  margin-top: 10px;
}

.road-map .map-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.rocket {
  position: absolute;
  bottom: -80px;
  right: 0;
  width: 240px;
  transform: rotate(30deg);
}

@media (max-width: 820px) {
  .road-map {
    overflow: hidden;
  }

  .roadmap {
    flex-direction: column;
    align-items: center;
  }

  .roadmap .stage {
    width: 85%;
    margin: 10px 0;
    padding-right: 10px;
  }
  .roadmap .line-1 {
    display: none;
  }
  .roadmap .line {
    width: 5px;
    height: 100%;
  }
  .roadmap .circle {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    right: -5px;
  }

  .road-map .date {
    transform: rotate(90deg);
    right: -22%;
    left: auto;
    top: 40%;
  }

  .road-map .curve-left,
  .curve-right {
    display: none;
  }

  .road-map .vertical-line,
  .vertical-line-2 {
    display: none;
  }

  .rocket {
    top: 0;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    width: 150px;
    left: -20%;
  }
}

@media (max-width: 375px) {
  .rocket {
    width: 120px;
  }

  .road-map .date {
    transform: rotate(90deg);
    right: -70px;
  }
}

/*------ Community -------*/
main section.community.parallax {
  background-image: url('../images/background-community.webp');
  opacity: 0.9;
}

main section.community .content {
  align-items: center;
}

.community .community-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: rgba(61, 61, 61, 0.6);
  padding: 20px;
  border-radius: 20px;
}
.community .community-links li {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.community .community-links li img {
  max-width: 100%;
  max-height: 140px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 20;
}

@media (max-width: 768px) {
  .community .community-links {
    flex-direction: column;
    gap: 0;
  }
}

/*------ Footer -------*/

footer {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f2e6;
}

/*------ Anchor fix -------*/
span.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}
